---
const {title} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<header>
		<h1>🚧🚧🚧Site under construction🚧🚧🚧</h1>
	</header>
	<main>
		<slot />
	</main>
	<footer>
		<p>&copy; {new Date().getFullYear()} Liam Durkin</p>
	</footer>
	</body>
</html>